body {
  padding-top: 50px;
}

.search-container{
	height: 140px;
	background-color: #eee;
}

#search-form{
	padding-top: 40px;
	padding-left: 0;
}
#searchcontent,#submit{
	height: 48px;
}
#searchcontent{
    width: 100%;
}
.main-content{
    font-size: 1.5rem;
}
#filter ,#sort,#item-con{
	border: 1px solid #eee;
	background-color: #fafafa;
}
#filter a,#sort a{
	text-decoration:none;
	padding:2px 5px;
}
#filter a:hover,#filter .active,.sortway a:hover{
    background-color: #d9534f;
    color: #fff;
    border-radius: 10%;
}
#filter {
	margin-top: 50px;
	padding: 15px ;
}
#collapseMore{
    padding: 10px;
    border-top: 1px dashed #d9534f;
}
#filter div:nth-child(2){
	margin: 15px 0;
}
#sort{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
}
#sort div{
	display: inline-block;
}
#sort .btn-group a:hover {
	background-color: #d9534f;

    color: #fff;
}

#result-list{
	

}
.item-list{
	list-style-type:none;
/*	padding-top: 30px;*/
	/*解决职位块无法和上面的元素宽度一致问题*/
	padding-left: 0;
	padding-right: 0;
}
.item-con{
	margin-top: 30px;
}
.p_top a,.p_top h4 ,.p_top h3,.p_bot .li_b_l,.p_bot .money{
	display: inline-block;
	margin-right: 5px;
}
.p_bot h4{
	color: #d9534f;
	font-weight: bold;
}
.list_item_bot{
	border-top: 1px dashed #d9534f;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*分页块ul元素居中*/
.page {
     display: -webkit-flex;
     display:flex;
     -webkit-align-items: center;
     align-items: center;
     -webkit-justify-content: center;
     justify-content: center;
}


